<html>
    <head>
        <title>Wednesday - Form</title>
    </head>
    <body>
        <form action="/form" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">

            <label for="job">Job:</label>
            <input type="text" id="job" name="job">
            
            <button type="submit">Register Contact</button>
        </form>
    </body>
</html>